<div class="bloking">
<form class="blogik3" action="/main2.html" align="center" method="post" >
    <h3>Login</h3>
    <input type="text" name="login">
    <h3>Pasword</h3>
    <input type="text" name="pasword"><br>
    <input class="hollow button secondary" id="pokaz" type="submit" value="Регистрация/Вход" onclick="">
</form>
</div>