<div class="bloking">
<form class="blogik3" action="/autorezation" align="center" method="post">
    <h3>Login</h3>
    <input type="text" name="login" id="type1"> 
    <h3>Pasword</h3>
    <input type="text" name="pasword" id="type2"><br>
        <input class="hollow button secondary" id="pokaz" type="submit" value="Вход" onclick="knopka()">

</form>
</div>