<form action="/create" method="POST">
  <h2>Create Blog</h2>

<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="TextBlog">

    </textarea>
        <br>
        <div class="input-group mb-3">
        <input type="file" name="filedata" class="form-control" id="inputGroupFile01">
        </div>
        <input class="hollow button secondary" type="submit" value="Отправить">
</form>